/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.navbar {
  position: relative;
  /* or absolute/fixed, depending on your layout */
  z-index: 10;
  /* Higher than HeroSection */
}